@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Ms+Madi&family=Square+Peg&family=Ubuntu:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
}

.body{
    font-family: 'Ms Madi', cursive;
    background: conic-gradient(at 125% 50%, #b78cf7, #ff7c94, #ffcf0d, #ff7c94, #b78cf7);
}

.container{
    width: 90%;
    margin: auto;
    display: flex;
}

.groceries{
    width: 600px;
    min-height: 100vh;
    margin: auto;
    background: whitesmoke;
    box-shadow: 10px 10px 24px 0 rgba(0,0,0,0.5);
}

.grocerie h1{
    width: 100px;
    height: 300px;
    font-size: 2.5rem;
    margin-top: 1em;
}

.groceries i{
    font-size: 2rem;
    color: conic-gradient(at 125% 50%, #b78cf7, #ff7c94, #ffcf0d, #ff7c94, #b78cf7);
}

.groceries input{
    font-family: inherit;
    outline: 0;
    border: 0;
    border-bottom: 3px solid black;
    width: 70%;
    font-size: 1.5rem;
}

#allItems{
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 15px;
    font-size: 2rem;
}

#userInput{
    background: whitesmoke;
}

@media(max-width:480px){
    .groceries h1{
        font-size: 2rem;
    }
    .groceries i{
        font-size: 1.5rem;
    }
    .groceries input{
        font-size: 1rem;
    }
    #allItem h2{
        margin-left: 25px;
        font-size: 1.5rem;
    }
}